<!DOCTYPE html>
<html>
<head>
    <title>$emailSubject</title>
</head>
<body>
    <h1>$emailSubject</h1>
    <p>Dear $recipient,</p>
    <p>$emailContent</p>
    <p>Sincerely,<br>Your Company</p>
</body>
</html>

